$primary-color: #222222;
$secondary-color: #f27731;
$ternary-color: #6285f9;

$warning-button-color: orange;
$warning-button-text:white;

$back-color: $primary-color;
$inverse-primary-color: white;
$inverse-secondary-color: white;
$inverse-ternary-color: gray;
