html { 
    font-size: 62.5%;
}

body {
    /*margin: 0 auto; /* il margin a 0 auto prende il width e lo distribuisce*, vengono prese le dimensioni della finestra -la width del body
    e il restante viene spalmato a destra e a sinistra */
    /*width: 400px;
    border: 4px solid black;*/
}

main {
    text-align: center;
    border: 2px solid black;
    margin: 0.2em;
}
article {
    font-family: cursive;
    display: inline-block;
    width: 28vw; /* dimensione relativa alla finestra. I postiit occuperanno il 28%dello spazio a disposizione
    */
     /* em è una dimesnione relativa al testo che lo rende proporzionale
    rispetto alla dimensione del contenitore*/
    height: 28vw;
   /* height: 100%; questo valore non influisce perché il body non ha un'altezza*/
   margin: 0.2em;
   padding: 1em;
   box-shadow: 4px 4px 8px 2px grey;
   overflow-y: auto;
   border-bottom-left-radius: 2em;
}

article:nth-child(2) {
    transform: rotate(10deg) translate(30px,5px);
}

article:nth-child(5) {
    transform: rotate(-10deg);
}

article:nth-child(3) {
    transform: rotate(100deg);
}
 
@keyframes evidenzia {
    50% {
        transform: scale(2,2);
    }
    70% {
        background-color: blue;
    }
    to { 
        transform: rotate(0deg) scale(1.5, 1.5) ;
        background-color: blue;
    }
}

article:hover {
    animation-name: evidenzia;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards ; /* stile da applicare all'elemento quando l'animazione finisce*/
    

}

.primo {
   
    background-color: aqua;
    color:black;
    border: 4px solid yellow;
    
}

article h1 {
    border-bottom: 1px solid black;
}

.secondo {
    background-color: aqua;
    color:black;
    border: 4px solid yellow;
}

.terzo {
    
    background-color: aqua;
    color:black;
    border: 4px solid yellow;
}

.quarto {
    
    background-color: aqua;
    color:black;
    border: 4px solid yellow;
}

.quinto {
    
    background-color: aqua;
    color:black;
    border: 4px solid yellow;
}

.sesto {
    
    background-color: aqua;
    color:black;
    border: 4px solid yellow;
}