$primary-color: #e74c3c;
$secondary-color:#3498db;
$primary-background: #aac0d6;
$secondary-background: #2c3e50;

h1 {
    color: $primary-color;
    background-color: $primary-background;
}

.panel {
    background-color: $secondary-background;
    color: #fff;
    h1 {
        color:$secondary-color;
    }

    p{
        font-size: 24px;
        padding: 10px;
    }
}