$size:100px;
$back-circle: maroon;

.circle {
    width: $size ;
    height: $size;
    display: block;
    border-radius: $size * .5;
    background-color: $back-circle;
    font-size: $size* .3;

    p {
        display: flex; /* usare il flex perché è un posizionamento relativo, mentre margin top ect sono posizonamenti assoluti*/
        align-items: center;
        justify-content: center;  
    }
}