/* IMPOSTAZIONI GENERALI */
html { /*root*/
    font-size: 68.5%;
}


body {
    font-family: sans-serif;
    width: 500px;
    margin: 0 auto;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: serif;
    font-weight: bold;
    line-height: 2em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4,
h5,
h6 {
    font-size: 1.2;
}

ul {
    list-style-position: inside;
    margin-left: 2em;
}
/* HEADER */

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

header {
    padding: 25px;
    text-align: center;
    background-color: cornflowerblue;
    color: bisque;
}


header h1,
header h2 {
    line-height: 1.2em;
}

header #nome {
    background-color: white;
}

header h4 {
    font-variant: small-caps;
    text-align: center;
}

#data {
  float: ;
}
/* MAIN */

figure {
    text-align: center;
}

figcaption {
    font-variant: small-caps;
    font-size: .8em;
}

main h3 {
    text-align: left;
}

/* ELEMENTI NEL MAIN */
.label {
    font-style: italic;
    
    
    
}

.data {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


.list li::first-letter {
    font-weight: bold;
}

/* FOOTER */
