html {
  font-size: 100%;
}

body {
  margin: 0 auto;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 2fr 1fr;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.container div {
  padding: 5px;
  border: 1px solid #000;
}

.header  {
  
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: chocolate;
  
}

.nav  {
  grid-column-start: 1;
  grid-column-end: 4;
  position: sticky;
  background-color: chartreuse;
  text-align: center ;
  padding: 10px;
  border-bottom: 1px solid #000;
}

.main  {
  
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}



article h3 {
  font-weight: bolder;
}

.aside1 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.aside2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 4;
}

h1 {
  font-weight: bold;
  background-color: crimson;
  margin-bottom: 60px;
}

h2 {
  background-color: aqua;
  padding: 0 auto;
 
}

img {
  height: 100px;
  border: 1px solid #000;
  display: inline-block;
  background-color: blueviolet;
  position: relative;
  right: 0px;
  bottom: 0px;
}

 ul li {
  display: inline-block;
  margin-left: 30px;
  border-radius: 10px;
  background-color: cornflowerblue;
  color: white;
  padding: 10px;
  margin-bottom: 10px;;
  font-size: 1em;
  word-spacing: 0.2em;
  background-color: darkgoldenrod;
}

ul li a {
  text-decoration: none;
 
}
 
