html {
  font-size: 100%;
}

body {
  margin: 0 auto;
  background-color: #15193E;
  color: white;
}

.container {
  width: 100%vw;
  height: 100%vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px 80px 2fr 1fr;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.container div {
  padding: 5px;
  border: 1px solid #000;
}

.header  {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color:aqua;
  
}

.nav  {
  grid-column-start: 1;
  grid-column-end: 4;
  position: sticky;
  background-color: chartreuse;
  text-align: center ;
  padding: 10px;
  border-bottom: 1px solid #000;
}

.main  {
  
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.titolo {
  transform: translateY(+20px);
  color: red;
  margin: 0 px auto ;
  font-size: 2rem;
  font-weight: bold;

}

article h3 {
  font-weight: bolder;
}

.aside1 .art2 {
  grid-column-start: 3;
  grid-column-end: 4;
  ;
}

.art2 {
  width: 100%;
  height: 35%;
  transform: translateY(-363px);
  
}

.aside2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 4;
}

h1 {
  font-weight: bold;
  transform: translateY(-220%);
  font-size: 3em;
}

h2 {
  transform: translateY(-350%);
  font-size: 2.5em;

}

.art {
  width: 100%;
  height: 100%;
  transform: translateY(+2px);
  transform: translateX(-1px);
}

#button {
  align-items: center;
 }



h1,
h2 {
text-align: center;
align-items: center;
}
img {
  height: 100px;
 
  
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

 ul li {
  display: inline-block;
  margin-left: 30px;
  border-radius: 10px;
  background-color: cornflowerblue;
  color: white;
  padding: 10px;
  margin-bottom: 10px;;
  font-size: 1em;
  word-spacing: 0.2em;
  background-color: darkgoldenrod;
}

ul li a {
  text-decoration: none;
 
}
 
.scrivici {
  text-align: center;
}

textarea {
  resize: none;
  }


  @media screen and (min-width: 480px) and (max-width: 768px) {
    body {
        background-color: orange;
    }
}

