html {
  font-size: 100%;
}

body {
  margin: 0 auto;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 2fr 1fr;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;

}

.container div {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 100%;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: chocolate;
  display: inline-block
  justify-content: center;
  
}

.nav {
  grid-column-start: 1;
  grid-column-end: 4;
  
}

.main {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.aside1 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.aside2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 4;
}

h1 {
  font-weight: bold;
  background-color: crimson;
  margin-bottom: 60px;
}

h2 {
  background-color: aqua;
  padding: 0 auto;
  margin: 15px;
}

img {
  height: 100px;
  border: 1px solid #000;
  display: inline-block;
  background-color: blueviolet;
}

nav ul li a {
  display: flex;
  flex-direction: row;
}
