html {
    font-size: 100%; /* font di defalut di 16px*/
}

body {
    font-family: sans-serif;
    width: 80vw;
    font-size: .8em; /*em definisce la percentuale di dimensione del testo che è .o8 le'lemnto parent dell'html*/

}

header {
    box-shadow: -2px 2px 2px rgba(128, 128, 128,0.8) ; /*ombra sul contenitore con le assi cartesiani, direzione dell'ombra che parte da left, right e la terza info rappresenta la sfocatura e alla fine il formato del colore (l'ombra si sposta di 2px a sinistra rispetto al contenitore)*/
    height: 80px;
    padding: 2em;
    background-image: linear-gradient(45deg,rgb(128, 128, 128),white);

}

header h1 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

nav li  {
    display: inline-block; /* inline-block ci dà la possibilitù di stabilire larghezza e altezza invece non è possibile con inline*/
    padding: 1em;
    box-shadow: ;
    width: 80px;
    margin: 0 1em;
    box-shadow: -2px 2px 2px rgba(128, 128, 128,0.8) ;
}

nav li a {
    text-decoration: none;
}

nav {
    width: 100%;
    text-align: center;
}

