html {
    font-size: 100%; /* font di defalut di 16px*/
}

body {
    font-family: sans-serif;
    width: 80vw;
    font-size: .8em; /*em definisce la percentuale di dimensione del testo che è .o8 le'lemnto parent dell'html*/

}

header {
    box-shadow: -2px 2px 2px rgba(128, 128, 128,0.8) ; /*ombra sul contenitore con le assi cartesiani, direzione dell'ombra che parte da left, right e la terza info rappresenta la sfocatura e alla fine il formato del colore (l'ombra si sposta di 2px a sinistra rispetto al contenitore)*/
    height: 80px;
    padding: 2em;
    background-image: linear-gradient(45deg,rgb(128, 128, 128),white);

}

header h1 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

nav li  {
    display: inline-block; /* inline-block ci dà la possibilitù di stabilire larghezza e altezza invece non è possibile con inline*/
    padding: 1em;
    width: 80px;
    margin: 0 1em;
    box-shadow: -2px 2px 2px rgba(128, 128, 128,0.8) ;
}

nav li a {
    text-decoration: none;
}

nav {
    width: 100%;
    text-align: center;
}

nav li:hover {
    background-color: lightgray;
}

main {
    display: inline-block;
    width: 75%;
    
}

aside {
    width: 25%;
}

article:nth-child(1) { /* selettore che tra tutti gli elemnti di article in questo caso, prende solo il primo*/
    padding: 1em;
    width: 100%;
   
}

article {
    padding: 1em;
    display: inline-block;
    width: 49%;
    border: 1px solid grey;
    margin-bottom: 1em;
    border-radius: 1em;
    box-sizing: border-box;
    height: 100%;

}

article:nth-child(1) p {
    column-count: 2;
    column-gap: 25px;
    column-rule: 1px dotted black;
}

article h1 {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em; /* ha collasato, quando si incontra il margine suoeriore e inferiore, il più piccolo viene eliminato*/
}

article p {
    text-align: justify;
    
}

aside {
    display: inline-block;
    width: 24%;
    border-left: 1px solid gray;
    padding: 1em;
    box-sizing: border-box;
}

.thumb {
    width: 100%;
    height: auto;
}

figure { /* è la semantica delle immagini che consente anche di aggiungere yna caption*/
    margin: 1em;
}

figcaption {
    text-align: center;
    padding-bottom: 1em;
}

form {
    margin: 1em;
    width: 100%;
    height: auto;
}


form input {
    width: 100%;
}

form textarea {
    width: 100%;
}

@media screen and (max-width:500px) {
   aside   {
        width: 100%;
        display: block;
   }

   main     {
        width: 100%;
        display: block;
        
   }
}